allow ueventd sysfs_mmi_fp:file w_file_perms;

allow ueventd synaptics_rmi_device:chr_file { rw_file_perms relabelfrom relabelto};
allow ueventd sysfs_fingerprint:file rw_file_perms;
allow ueventd sysfs_sensors:file rw_file_perms;
allow ueventd mods_camd_device:chr_file { relabelfrom relabelto };
allow ueventd video_device:chr_file { relabelfrom relabelto };
allow ueventd sysfs_greybus:file { open write };
allow ueventd sysfs_mmi_touch:file w_file_perms;
allow ueventd sysfs_mmi_touch:dir search;
allow ueventd self:netlink_kobject_uevent_socket { read };
allow ueventd sysfs_mods_camd:file rw_file_perms;
allow ueventd sysfs_mods_camd:dir rw_dir_perms;
