# Moto USB configuration
import /vendor/etc/init/hw/init.mmi.usb.rc

on early-boot
    write /sys/module/subsystem_restart/parameters/disable_restart_work 0x0
    write /proc/sys/kernel/poweroff_cmd "/system/bin/reboot -p"

on init
    chown system log /sys/fs/pstore/console-ramoops-0
    chmod 0440 /sys/fs/pstore/console-ramoops-0
    chown system log /sys/fs/pstore/annotate-ramoops-0
    chmod 0640 /sys/fs/pstore/annotate-ramoops-0
    chown system log /sys/fs/pstore/dmesg-ramoops-0
    chmod 0640 /sys/fs/pstore/dmesg-ramoops-0

   chmod 0660 /sys/devices/virtual/laser/stmvl53l1/enable_sar
   chown root system /sys/devices/virtual/laser/stmvl53l1/enable_sar

on fs
    wait /dev/block/bootdevice/by-name/hw

on post-fs
    # Change permission for fingerprint sensor
    chown system oem_5004 /sys/devices/soc/soc:fpc_fpc1020/nav
    chown system oem_5004 /sys/devices/soc/soc:fpc_fpc1020/dev_enable
    chown system oem_5004 /sys/devices/soc/soc:fpc_fpc1020/irq
    chown system oem_5004 /sys/devices/soc/soc:fpc_fpc1020/irq_cnt
    chmod 0440 /sys/devices/soc/soc:fpc_fpc1020/irq_cnt

    # MOT_LED_CALIBRATION
    chown cameraserver /mnt/vendor/persist/camera/ledcal

    mkdir /mnt/vendor/persist/camera 0755 oem_5004 oem_5004
    mkdir /mnt/vendor/persist/camera/dualcal 0775 camera oem_5004
    mkdir /mnt/vendor/persist/camera/focus 0775 camera oem_5004
    mkdir /mnt/vendor/persist/camera/ledcal 0775 camera oem_5004
    mkdir /mnt/vendor/persist/camera/mot_ledcal 0775 camera camera
    mkdir /mnt/vendor/persist/batt_health 0775 oem_5001 oem_5001
    mkdir /mnt/vendor/persist/mdm 0770 radio radio
    mkdir /mnt/vendor/persist/factory 0755 oem_5004 oem_5004
    mkdir /mnt/vendor/persist/factory/audio 0755 oem_5004 system
    mkdir /mnt/vendor/persist/factory/wlan 0755 oem_5004 oem_5004
    mkdir /mnt/vendor/persist/factory/regulatory 0755 oem_5004 system
    mkdir /mnt/vendor/persist/public 0755 oem_5004 oem_5004
    mkdir /mnt/vendor/persist/public/atvc 0770 oem_5012 shell
    mkdir /mnt/vendor/persist/public/battd 0755 oem_5000 oem_5004
    mkdir /mnt/vendor/persist/public/att_dm 0775 radio oem_5004
    mkdir /mnt/vendor/persist/public/hiddenmenu 0775 radio oem_5004
    mkdir /mnt/vendor/persist/public/hiddenmenu/data 0775 system oem_5004
    mkdir /mnt/vendor/persist/public/locale 0700 system system
    mkdir /mnt/vendor/persist/public/omadm 0700 radio radio
    mkdir /mnt/vendor/persist/public/svcs 0770 system system
    mkdir /mnt/vendor/persist/wifi 0755 oem_5004 oem_5004
    mkdir /mnt/vendor/persist/bt 0755 oem_5004 bluetooth
    mkdir /mnt/vendor/persist/wmdrm 0775 oem_5003 oem_5003
    mkdir /mnt/vendor/persist/public/usc_dm 0775 radio radio
    mkdir /mnt/vendor/persist/sds 0700 vold vold
    mkdir /mnt/vendor/persist/rfs/msm/mpss/mot_rfs 0771 rfs system

    # This dir is used to store any OMA(both DM and CP) files in persist partition
    # Any app with radio UID or oem_5004 GID can read/write/execute files in this dir.
    mkdir /mnt/vendor/persist/public/oma 0775 radio oem_5004

     chown oem_5004 oem_5004 /mnt/vendor/persist/factory/fti
    chmod 0664 /mnt/vendor/persist/factory/fti
    chown oem_5004 oem_5004 /mnt/vendor/persist/factory/byte
    chmod 0660 /mnt/vendor/persist/factory/byte
    chmod 0660 /mnt/vendor/persist/wifi/wlan_mac.bin
    chown oem_5004 oem_5004 /mnt/vendor/persist/bt/bt_bdaddr
    chmod 0664 /mnt/vendor/persist/bt/bt_bdaddr

    # Set life_calls and life_timer file permissions
    chown radio oem_5004 /mnt/vendor/persist/public/hiddenmenu/life_calls
    chmod 0775 /mnt/vendor/persist/public/hiddenmenu/life_calls
    chown radio oem_5004 /mnt/vendor/persist/public/hiddenmenu/life_timer
    chmod 0775 /mnt/vendor/persist/public/hiddenmenu/life_timer

    chmod 0711 /mnt/vendor/persist/rfs
    chmod 0711 /mnt/vendor/persist/rfs/msm
    chmod 0711 /mnt/vendor/persist/rfs/msm/mpss
    chmod 0771 /mnt/vendor/persist/rfs/msm/mpss/mot_rfs

    swapon_all /vendor/etc/fstab.qcom
    write /proc/sys/vm/page-cluster 0 

on post-fs-data

    # Setup folders for security
    mkdir /mnt/vendor/persist/security 02770 drmrpc drmrpc
    mkdir /data/vendor/dbvc 0750 oem_5004 shell
    chown drmrpc oem_5004 /mnt/vendor/persist/security

    # Setup folder for Pre-Activation Kill Switch app (PAKS)
    mkdir /mnt/vendor/persist/paks 02770 oem_5004 oem_5004

    # Create directory used by power_supply_logger
    mkdir /data/vendor/power_supply_logger 0750 oem_5001 log
    # Create directory power_supply_logger used by memtest and batt_health
    mkdir /data/vendor_de/power_supply_logger 0770 root log

    # Permissions for Factory Test of Charging Paths
    chown oem_5001 oem_5001 /sys/class/power_supply/battery/device/force_chg_auto_enable
    chown oem_5001 oem_5001 /sys/class/power_supply/battery/device/force_chg_ibatt
    chown oem_5001 oem_5001 /sys/class/power_supply/battery/device/force_chg_itrick
    chown oem_5001 oem_5001 /sys/class/power_supply/battery/device/force_chg_iusb
    chown oem_5001 oem_5001 /sys/class/power_supply/battery/device/force_chg_idc
    chown oem_5001 oem_5001 /sys/class/power_supply/battery/device/force_chg_usb_suspend
    chown oem_5001 oem_5001 /sys/class/power_supply/battery/device/force_chg_fail_clear
    chown oem_5001 oem_5001 /sys/class/power_supply/battery/device/force_chg_usb_otg_ctl

    chown oem_5001 oem_5001 /sys/class/power_supply/mmi_battery/device/force_chg_auto_enable
    chown oem_5001 oem_5001 /sys/class/power_supply/mmi_battery/device/force_chg_ibatt
    chown oem_5001 oem_5001 /sys/class/power_supply/mmi_battery/device/force_chg_itrick
    chown oem_5001 oem_5001 /sys/class/power_supply/mmi_battery/device/force_chg_iusb
    chown oem_5001 oem_5001 /sys/class/power_supply/mmi_battery/device/force_chg_idc
    chown oem_5001 oem_5001 /sys/class/power_supply/mmi_battery/device/force_chg_usb_suspend
    chown oem_5001 oem_5001 /sys/class/power_supply/mmi_battery/device/force_chg_fail_clear
    chown oem_5001 oem_5001 /sys/class/power_supply/mmi_battery/device/force_chg_usb_otg_ctl

    chown root oem_5020 /sys/module/qpnp_smbcharger_mmi/parameters/eb_rechrg_start_soc
    chown root oem_5020 /sys/module/qpnp_smbcharger_mmi/parameters/eb_rechrg_stop_soc
    chown root oem_5020 /sys/module/qpnp_smbcharger_mmi/parameters/eb_attach_start_soc
    chown root oem_5020 /sys/module/qpnp_smbcharger_mmi/parameters/eb_attach_stop_soc
    chown root oem_5020 /sys/module/qpnp_smbcharger_mmi/parameters/eb_low_start_soc
    chown root oem_5020 /sys/module/qpnp_smbcharger_mmi/parameters/eb_low_stop_soc
    chown root oem_5020 /sys/module/qpnp_smbcharger_mmi/parameters/eb_on_sw

    chmod 0664 /sys/module/qpnp_smbcharger_mmi/parameters/eb_rechrg_start_soc
    chmod 0664 /sys/module/qpnp_smbcharger_mmi/parameters/eb_rechrg_stop_soc
    chmod 0664 /sys/module/qpnp_smbcharger_mmi/parameters/eb_attach_start_soc
    chmod 0664 /sys/module/qpnp_smbcharger_mmi/parameters/eb_attach_stop_soc
    chmod 0664 /sys/module/qpnp_smbcharger_mmi/parameters/eb_low_start_soc
    chmod 0664 /sys/module/qpnp_smbcharger_mmi/parameters/eb_low_stop_soc
    chmod 0664 /sys/module/qpnp_smbcharger_mmi/parameters/eb_on_sw

    chown root oem_5020 /sys/class/power_supply/usb/usb_priority
    chmod 0660 /sys/class/power_supply/usb/usb_priority
    chown root oem_5020 /sys/module/dwc3_msm/parameters/usb_priority
    chmod 0660 /sys/module/dwc3_msm/parameters/usb_priority

    # Create panic dump dir.
    mkdir /data/vendor/dontpanic 0750 root log

    # Create directory for cutback
    mkdir /data/vendor/misc/cutback 0770 radio wifi

    # Setup folder for aplogd
    mkdir /data/vendor/aplogd 0750 log log

    # Create directory used by chargeonlymode
    mkdir /data/vendor/chargeonly 0750 root log

    # Subsystem RAM-dumps
    mkdir /data/vendor/ss-ram-dumps 0750 system log
    mkdir /data/vendor/ss-ram-dumps/bp-dumps 0750 system log
    mkdir /data/vendor/ss-ram-dumps/riva-dumps 0750 system log

    # folder for Blueooth ramdump
    mkdir /data/vendor/bt-ram-dumps 0750 bluetooth log

    #Folder for hardware properties
    mkdir /data/vendor/hardware_revisions 0755 system system

    # Imager tuning data for camera subsystem
    mkdir /data/vendor/misc/imager 0771 camera camera


on boot
   # restore default console_loglevel to KERN_DEBUG
   # restore default_message_loglevel to KERN_WARNING
   write /proc/sys/kernel/printk "7 4 1 7"

    # MOTO, NJH348, IKHALFMWK-1864, change system max tcp buffer sizes based on RAT changes
    # Define system changable TCP buffer max values
    chown system system /proc/sys/net/core/rmem_max
    chown system system /proc/sys/net/core/wmem_max

 # Change ownership and permission for leds backlight
   chmod 0664 /sys/class/leds/lcd-backlight/brightness
   chown system system /sys/class/leds/charging/brightness
   chmod 0664 /sys/class/leds/charging/brightness

   # change permission of red leds
   chown system system /sys/class/leds/red/brightness
   chmod 0664 /sys/class/leds/red/brightness

   # Change ownership and permission for vibrator
   chown system system /sys/class/timed_output/vibrator/enable
   chmod 0660 /sys/class/timed_output/vibrator/enable
   chown system system /sys/class/leds/vibrator/state
   chmod 0660 /sys/class/leds/vibrator/state
   chown system system /sys/class/leds/vibrator/activate
   chmod 0660 /sys/class/leds/vibrator/activate
   chown system system /sys/class/leds/vibrator/duration
   chmod 0660 /sys/class/leds/vibrator/duration
   chown system system /sys/class/leds/vibrator/seq
   chmod 0660 /sys/class/leds/vibrator/seq
   chown system system /sys/class/leds/vibrator/extra
   chmod 0660 /sys/class/leds/vibrator/extra
   chown root vendor_mod /sys/bus/i2c/devices/2-005a/reduce

   # Change ownership of aov related sysfs entries
   chown audio audio /sys/kernel/aov/trigger
   chown audio audio /sys/kernel/aov/register
   chown audio audio /sys/kernel/aov/event

   # Quiet binder logs
   write /sys/module/binder/parameters/debug_mask 0x5

   # Clear cooldown state
   mkdir /mnt/vendor/persist/chargeonly 0770 system system
   write /mnt/vendor/persist/chargeonly/cooldown n
   chown system system /mnt/vendor/persist/chargeonly/cooldown
   chmod 0660 /mnt/vendor/persist/chargeonly/cooldown

# Pass carrier to wlan
service vendor.init_wifi /vendor/bin/sh /vendor/bin/wlan_carrier_bin.sh
    class main
    user root
    group root
    oneshot

on charger
    trigger early-fs
    trigger fs
    trigger post-fs
    trigger late-fs
    trigger post-fs-data
    trigger moto-charger
    class_stop main
    class_stop late_start

on moto-charger
    setprop ro.board.platform msm8953
    trigger firmware_mounts_complete
    start vendor.charge_only_mode
    start vendor.thermal-com

on property:ro.boot.hwrev=*
   start vendor.mmi-boot-sh

service vendor.mmi-boot-sh /vendor/bin/sh /vendor/bin/init.mmi.boot.sh
    class core
    user root
    oneshot
    disabled

service mmi-laser-sh /vendor/bin/sh /vendor/bin/init.mmi.laser.sh
    class core
    user root
    oneshot

service vendor.charge_only_mode /vendor/bin/charge_only_mode
    user root
    group graphics system input
    disabled

service vendor.sensors.qti /vendor/bin/sensors.qti
    class core
    user system
    group system
    disabled

service vendor.sensor-sh /vendor/bin/init.qcom.sensors.sh
    class core
    user root
    oneshot

service vendor.vl53l1_daemon /vendor/bin/vl53l1_daemon
    class late_start
    user root
    group root
    seclabel u:r:vl53l1:s0
    socket vl53l1_daemon stream 660 root system

service vendor.thermal-com /vendor/bin/thermal-engine --minimode
    class main
    user root
    disabled

# Set RPS Mask for Wifi Hotspot
on property:sys.wifi.tethering=true
    write /sys/class/net/rmnet_data0/queues/rx-0/rps_cpus ${sys.usb.rps_mask}
    write /sys/class/net/wlan0/queues/rx-0/rps_cpus ${sys.usb.rps_mask}
    write /sys/class/net/wlan0/queues/rx-1/rps_cpus ${sys.usb.rps_mask}
    write /sys/class/net/wlan0/queues/rx-2/rps_cpus ${sys.usb.rps_mask}
    write /sys/class/net/wlan0/queues/rx-3/rps_cpus ${sys.usb.rps_mask}
    write /sys/class/net/wlan0/queues/rx-4/rps_cpus ${sys.usb.rps_mask}

on property:sys.wifi.tethering=false
    write /sys/class/net/rmnet_data0/queues/rx-0/rps_cpus ${sys.rmnet_vnd.rps_mask}

on property:ro.bootmode=normal
   write /sys/module/usb3813_hub/parameters/boost_val 3

on property:sys.boot_completed=1
    # Enable ZRAM on boot_complete
    swapon_all /vendor/etc/fstab.qcom

# Override to add input group access and use of wake locks
service vendor.sensors-hal-1-0 /vendor/bin/hw/android.hardware.sensors@1.0-service
    class hal
    user system
    group system input wakelock
    capabilities BLOCK_SUSPEND SYS_NICE